.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 100%;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(124,69,129,0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-content {
    color: #fff;
    background: #AF4A8A;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    font-size: 0.8em;
}

button {
    border: none;
    padding: 0.6em 1.2em;
    background: #68396F;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}

/* Effect 11: Super scaled */
.md-effect-11 .md-content {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

ul#plList {
/*
    max-height: 500px;
    overflow: auto;
*/
    list-style: none;
    padding: 0;
}

#plwrap {
    margin: 0 auto;
    max-height: 500px;
    overflow: auto;
    list-style: none;
    padding: 0;
}

#plList {
    margin: 0;
}

#plList li {
    cursor: pointer;
    margin: 0;
    padding: 21px 0;
    border-bottom: 1px solid #FFF;
}

/*
#plList li:nth-child(even) {
    background-color: #A44982;
}
*/

#plwrap ul:last-child {
    border-bottom: none;
}

#plList li:nth-child(odd) {
    background-color: #A34E8A;
}

#plList li:hover {
    background-color: #262223;
}

.plItem {
    position: relative;
}

.plNum {
    padding-left: 21px;
    width: 25px;
}

.plTitle {
    left: 50px;
    overflow: hidden;
    position: absolute;
    right: 65px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}

.plLength {
    padding-left: 21px;
    position: absolute;
    right: 50px;
    top: 0;
}

.plRemoveTrack {
    padding-left: 21px;
    position: absolute;
    right: 21px;
    top: 0;
}

.close_btn_wrap {
    margin-top: 15px;
}

.empty-playlist {
    text-align: center;
    position: relative;
    top: 20px;
}

.empty-playlist-wrapper {
    background-color: #A34E8A;
    height: 65px;
    border-bottom: 1px solid #FFF;
}

button.clear_all_btn {
    float: left;
}

.btn_wrapper {
    margin: 20px auto;
    width: 185px;
    text-align: center;
}