<section class="album-covers container clearfix">
   <form class="collection_search_form">
       <div id="wrap">
          <form autocomplete="off">
            <button id="search_submit" value="Rechercher" type="submit" class="ion-ios-search">
            <input id="search" name="search" type="text" placeholder="what're we looking for ?" ng-model="query">
          </form>
        </div>
       
       <br>
      
        <div class="main">
          <select-dropdown></select-dropdown>
        </div>
        
        <div style="clear: both;"></div>
   </form>
   
   <hr>
   <h1 ng-hide="filteredAlbums.length" class="no_results">Nothing here!</h1>
    <div class="collection-album-container column fourth" ng-repeat="album in filteredAlbums = (collection.albums | filter:gauchoQuery())">
        <img src="{{album.albumArtUrl}}">
        
        <div class="collection-album-info caption">
            <p>
                <a ui-sref="album" class="album-name" ng-click="collection.songPlayer.setAlbum(album)">{{album.title}}</a>
                <br/>
                <a ui-sref="album"  ng-click="collection.songPlayer.setAlbum(album)">{{album.artist}}</a>
                <br/>
                {{album.songs.length}} songs
                <br/>
            </p>
        </div>
    </div>
</section>

<ng-include src="'/templates/player_bar.html'"></ng-include>