<div class="container text-center">
    <h1>Log In</h1>
    <small>Welcome back!</small>
    <form class="form-signin" role="form">
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="true">
        <br>
        <input type="password" class="form-control" placeholder="Password" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        
        <label class="checkbox">
            <small>Don't have an account yet? <a ui-sref="signup">Sign Up</a></small>
        </label>
    </form>
</div>