<section class="player-bar" ng-controller="PlayerBarCtrl as playerBar">
    <div class="container">
        <div class="control-group main-controls">
            <a class="previous" ng-click="playerBar.songPlayer.previous()">
                <span class="ion-skip-backward"></span>
            </a>
            <a class="play-pause">
                <span class="ion-play" ng-show="!playerBar.songPlayer.currentSong.playing" ng-click="playerBar.songPlayer.play()"></span>
                <span class="ion-pause" ng-show="playerBar.songPlayer.currentSong.playing" ng-click="playerBar.songPlayer.pause()"></span>
            </a>
            <a class="next" ng-click="playerBar.songPlayer.next()">
                <span class="ion-skip-forward"></span>
            </a>
            
            <br>
            <br>
            
            <!-- Playlist Modal Trigger -->
            <a class="playlist_toggle md-trigger" data-modal="modal-11">
                <small>Playlist</small>
                <i class="ion-ios-list-outline"></i>
            </a>
        </div>
        <div class="control-group currently-playing">
            <h2 class="song-name" ng-show="playerBar.songPlayer.currentSong.playing">{{playerBar.songPlayer.currentSong.title}}</h2>
            <h2 class="artist-song-mobile" ng-show="playerBar.songPlayer.currentSong.playing">{{playerBar.songPlayer.currentSong.title + " - " + playerBar.albumData.artist}}</h2>
            <h3 class="artist-name" ng-show="playerBar.songPlayer.currentSong.playing">{{playerBar.albumData.artist}}</h3>
            <div class="seek-control">
                <seek-bar value="{{playerBar.songPlayer.currentTime}}" max="{{playerBar.songPlayer.getSongDuration()}}" on-change="playerBar.songPlayer.setCurrentTime(value)"></seek-bar>
                <div class="current-time">{{playerBar.songPlayer.currentTime | timecode}}</div>
                <div class="total-time" ng-show="playerBar.songPlayer.currentSong.playing">{{playerBar.songPlayer.getSongDuration() | timecode}}</div>
            </div>
        </div>
        <div class="control-group volume">
            <span class="icon ion-volume-high" ng-show="!playerBar.songPlayer.currentSong.isMute" ng-click="playerBar.songPlayer.muteSong()"></span>
            <span class="icon ion-volume-mute" ng-show= "playerBar.songPlayer.currentSong.isMute" ng-click="playerBar.songPlayer.unmuteSong()"></span>
            <seek-bar value="playerBar.songPlayer.volume" max="100" on-change="playerBar.songPlayer.setVolume(value)"></seek-bar>
        </div>
    </div>
    
    <!--  Playlist Modal  -->
    <div class="md-modal md-effect-11" id="modal-11">
        <div class="md-content">
            <h3>Play Queue</h3>
            
            <div id="mainwrap">
                <div id="plwrap">
                    <ul id="plList" ng-repeat="song in currentPlaylist">
                        <li>
                            <div class="plItem">
                                <div class="plNum">{{$index + 1}}</div>
                                <div class="plTitle">{{song.title}}</div>
                                <div class="plLength">{{song.duration}}</div>
                                <div class="plRemoveTrack"><i class="ion-ios-minus-outline"></i></div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="close_btn_wrap">
                    <button class="md-close">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="md-overlay"></div>
</section>


<!--  Classie.js  -->
<script src="/scripts/misc/classie.js"></script>
<!--  Classie.js  -->
<script src="/scripts/misc/modalEffects.js"></script>